!!! 5
%html
  %head
    %title Ruby Talk - Chat da comunidade Ruby e Rails
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    = favicon_link_tag "favicon.png"
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    %header.hero
      %div.wrapper
        = image_tag "logo-white.svg", class: 'logo', alt: "Ruby Talk Logo"
        %h1.title Ruby Talk
        %p.subtitle Chat da comunidade Ruby e Rails

    %section.content= yield

    %footer.site-footer
      %div.wrapper
        %p
          Uma iniciativa
          %a(href="http://standardcode.com.br" target="_blank") Standard Code
          e&nbsp;
          %a(href="http://current.com.br" target="_blank")> Current
          \.
