%div.wrapper
  %p
    O
    %strong Ruby Talk
    é um chat para desenvolvedores
    %strong Ruby
    e
    %strong Rails
    poderem trocar idéias, se ajudar, anunciar jobs e divulgar projetos.
  %p
    Ao se inscrever, você será convidado para nossa sala no&nbsp;
    %a(href="http://slack.com" target="_blank")> Slack
    \.

  = form_for @member, html: { class: 'signup-form' } do |f|

    - if @member.errors.any?
      %ul.validation-error
        - @member.errors.full_messages.each do |message|
          %li= message

    - if notice
      %p.signup-form-success= notice

    %fieldset
      %div
        = f.label :name
        %br
        = f.text_field :name, required: true
      %div
        = f.label :email
        %label
        %br
        = f.email_field :email, required: true
    %fieldset
      %input(type="submit" value="Quero Participar")
  %p.member-section
    Já faz parte?
    %a(href="https://rubytalk.slack.com/" target="_blank") Acesse o Chat
